* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Open Sans', sans-serif;
}

p {
  line-height: 25px;
  margin: 18px;
  font-weight: 400;
}

/* ------- Header -------  */

header {
    background: white;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

header a {
  font-weight: 300;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 16px;
  color: navy;
}

header a:hover {
  color: #639894;
}

header nav ul li {
    display: inline;
    padding: 50px;
}



/* ------- Homepage Hero Image -------  */

.top-hero {
  background-image: url('../images/glacier.jpg');
  background-size: cover;
  background: no-repeat;
  text-align: center;
  width: 100%;
  max-width: 1420px;
  min-height: 700px;
}



/* ------- footer -------  */

footer {
  background: #639894;
  padding: 10px;
  width: 100%;
  text-align: center;
  color: white;
  clear: both;
}

footer p {
  font-weight: 300;
  padding: 10px;
  padding-left: 50px;
  text-align: center;

}

footer img {
  width: 30px;
}

/* ------- photography page -------  */

.container {
  padding-top: 70px;
}

.container .photo {
  margin: 3px;
}

.first {
  background: #639894;
  background-image: url('../images/road.jpg');
  color: white;
  width: 20%;
  height: 300px;
  max-width: 288px;
  min-width: 288px;
  float: left;
}

.second {
  background: #fcdcda;
  background-image: url('../images/stones.jpg');
  color: white;
  width: 20%;
  height: 300px;
  max-width: 288px;
  min-width: 288px;
  float: left;
}

.third {
  background: #84ccc7;
  background-image: url('../images/moose.jpg');
  color: white;
  width: 56%;
  height: 300px;
  max-width: 864px;
  min-width: 830px;
  float: left;
  clear: right;
}

.fourth {
  background: #fcdcda;
  background-image: url('../images/seal.jpg');
  color: white;
  width: 57.5%;
  height: 300px;
  max-width: 864px;
  min-width: 830px;
  float: left;
  clear: left;
}

.fifth {
  background: #fcdcda;
  background-image: url('../images/sky.jpg');
  color: white;
  width: 20%;
  height: 300px;
  max-width: 288px;
  min-width: 288px;
  float: left;
}

.sixth {
  background: #fcdcda;
  background-image: url('../images/canyon-river.jpg');
  color: white;
  width: 20%;
  height: 300px;
  max-width: 288px;
  min-width: 288px;
  float: left;
}

.seventh {
  background: #639894;
  background-image: url('../images/underground.jpg');
  color: white;
  width: 32%;
  height: 300px;
  max-width: 470.24px;
  min-width: 470.24px;
  float: left;
  clear: left;
}

.eighth {
  background: #fcdcda;
  background-image: url('../images/pool.jpg');
  color: white;
  width: 32%;
  height: 300px;
  max-width: 470.24px;
  min-width: 470.24px;
  float: left;
}

.ninth {
  background: #fcdcda;
  background-image: url('../images/gus.jpg');
  color: white;
  width: 32.5%;
  height: 300px;
  max-width: 463.13px;
  min-width: 463.13px;
  float: left;
}



/* ------- about page -------  */

.about-container {
  max-width: 1440px;
  margin: 0px auto;
  padding: 0 5px;
  width: 100%;
}

.about-container h2 {
    font-weight: 300;
}

.hero-image-about {
  width: 100%;
  height: 50%;
}

.stats {
    float: left;
    width: 30%;
    padding: 23px;
    color: #243f64;
    background: #fcdcda;
}

.about-container h2 {
    font-weight: 300;
}

.main-photo {
    background-image: url('../images/rock.jpg');
    margin-top: 5px;
    width: 50%;
    float: left;
    clear: left;
}

.main-content {
    background: #243f64;
    margin-top: 5px 0;
    padding: 25px;
    min-height: 740px;
    color: white;
    width: 44%;
    float: left;
}
